{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block menu %}
    {% include "menu.html" with is_index=True %}
{% endblock menu %}

{% block content %}
    <!-- begin content -->
    <div id="site_content">
        <div id="left_content">
            <div id="blog_container">
                <div class="blog"><h2>{{ post.published_date|date:"M" }}</h2><h3>{{ post.published_date|date:"d" }}</h3></div>
                <h4><a href="{% url "index" %}">{{ post.title }}</a></h4>
                <p>{{ post.content }} <a href="">read more.....</a></p>
                <a class="submit" href="{% url 'comment' id=post.pk %}">Коментувати</a>
            </div>
        </div>
        <div id="right_content">
            <div id="blog_text">
                <h1>Коментарі</h1>
                {% for comment in comments %}
                    <div class="blog"><h2>{{ comment.published_date|date:"M" }}</h2><h3>{{ comment.published_date|date:"d" }}</h3></div>
                    <p>{{ comment.content|linebreaksbr }}</p>
                {% empty %}
                    <p>Без коментарів :(</p>
               {% endfor %}
            </div>
        </div>
    </div>
    <!-- end content -->

{% endblock %}
