
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url "home" %}">Start Bootstrap</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li{% if is_home %} class="active"{% endif %}><a href="{% url "home" %}">До хати <span class="sr-only">(current)</span></a></li>
                <li{% if is_about %} class="active"{% endif %}><a href="{% url "about" %}">Про нас</a></li>
                <li{% if True %} class="dropdown"{% endif %}>
                    <a href="#" data-hover="SERVICES" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Альбоми<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url "albums" id=2 %}">Світлини</a></li>
                        <li><a href="{% url "albums" id=3 %}">Мальовидла</a></li>
                    </ul>
                </li>
                <li{% if is_index %} class="active"{% endif %}><a href="{% url "index" %}">Блог</a></li>
                <li{% if iscontact %} class="active"{% endif %}><a href="{% url "contact" %}">Зв’язок</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>